
	.preview-work-modal.vm--container {
		background-color: black;
		font-family : 'Pretendard', 'Pretendard Variable';
	}
	
	.vm--container.scrollable {
	    height: 100%;
	    min-height: 100vh;
	    overflow-y: auto;
    }
    
    .vm--container {
	    position: fixed;
	    box-sizing: border-box;
	    left: 0;
	    top: 0;
	    width: 100%;
	    z-index: 100000 !important;
	}
	
	.vm--overlay {
		position: fixed;
	    box-sizing: border-box;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100vh;
	    background: rgba(0, 0, 0, 0.2);
	    opacity: 1;
	}
	
	.work-item.first {
		margin-top : 50px;
	}
	
	
	.work-info {
		background: #fff;
	    color: #7C8484;
	    display: flex;
	    flex-direction: row;
	    position: relative;
	    border-radius: 5px;
	}
