<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.trazar.mapper.DesignBoardMapper">
	
	<!-- list query -->
	<select id="selectDesignBoardAll" resultType="com.hys.trazar.domain.DesignBoardDto">
		SELECT d.id, 
			   d.title, 
			   d.body, 
			   d.price, 
			   d.inserted,
			   m.id memberId,
			   m.nickName writerNickName
		FROM DesignBoard d LEFT JOIN Review r ON d.id = r.memberId
								JOIN Member m ON d.memberId = m.id
		GROUP BY d.id
		ORDER BY d.id DESC
	</select>
	
	<insert id="insertDesignBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO DesignBoard (title, body, price, memberId)
		VALUES (#{title}, #{body}, #{price}, #{memberId})
	</insert>
	
	<select id="selectDesignBoardById" resultType="com.hys.trazar.domain.DesignBoardDto">
		SELECT d.id, 
			   d.title, 
			   d.body, 
			   d.price, 
			   d.inserted,
			   m.id memberId
		FROM DesignBoard d JOIN Member m ON d.memberId = m.id
		WHERE d.id = #{id}
	</select>

	<update id="updateDesignBoard">
		UPDATE DesignBoard
		SET title = #{title},
			body = #{body}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteDesignBoard">
		DELETE FROM DesignBoard
		WHERE id = #{id }
	</delete>
	
	<delete id="deleteByMemberId">
		DELETE FROM DesignBoard
		WHERE memberId = #{memberId}
	</delete>
	
	<!--  
	<insert id="insertFile">
		INSERT INTO Files (designBoardId, fileName)
		VALUES (#{designBoardId}, #{fileName})
	</insert>
	-->
	
	<select id="listByMemberId" resultType="com.hys.trazar.domain.DesignBoardDto">
		SELECT id
		FROM DesignBoard
		WHERE memberId = #{memberId}
	</select>
	

</mapper>