<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.trazar.mapper.NoticeMapper">

	 <select id="selectNoticeAll" resultType="com.hys.trazar.domain.NoticeDto">
	SELECT n.id, 
			   n.title, 
			   n.body, 
			   n.inserted,
			   m.id memberId,
			   m.nickName writerNickName
		FROM ManagerBoard n JOIN Member m ON n.memberId = m.id
		GROUP BY n.id
		ORDER BY n.id DESC
  
  </select>
  	
  	<select id="selectNoticeById" resultType="com.hys.trazar.domain.NoticeDto">
		SELECT n.id, 
			   n.title, 
			   n.body, 
			   n.inserted,
			   m.id memberId
		FROM ManagerBoard n JOIN Member m ON n.memberId = m.id
		WHERE n.id = #{id}
	</select>
  

  <update id="updateNotice">
  	UPDATE ManagerBoard
  	SET title = #{title},
  	    body = #{body}
  	WHERE id = #{id}
  </update>
  
  <delete id="deleteNotice">
  	DELETE FROM ManagerBoard
  	WHERE id = #{id}
  </delete>
  
  <insert id="insertNotice" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	INSERT INTO ManagerBoard (title, body, memberId)
		VALUES (#{title}, #{body}, #{memberId})
  </insert>
  
  <delete id="deleteByMemberId">
		DELETE FROM ManagerBoard
		WHERE memberId = #{memberId}
	</delete>
	
  
</mapper>









