<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.trazar.mapper.ReviewMapper">
	
	<insert id="insertReview" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO Review (content)
		VALUES (#{content})
	</insert>
	
	<select id="selectReview" resultType="com.hys.trazar.domain.ReviewDto">
  		SELECT id, content 
  		FROM Review
  		ORDER BY id DESC
    </select>
    
    <update id="updateReview">
    	UPDATE Review
    	SET content = #{content}
    	WHERE id = #{id}
    </update>
    
    <delete id="removeReview">
    	DELETE FROM Review
		WHERE id = #{id }
    </delete>
	
</mapper>