
	element.style {
        height: 5722px;
        visibility: visible;
    }
    .preview-work-modal.vm--container {
		background-color: black;
		font-family : 'Pretendard', 'Pretendard Variable';
	}
	
	.vm--container.scrollable {
	    height: 100%;
	    min-height: 100vh;
	    overflow-y: auto;
    }
    
    .vm--container {
	    position: fixed;
	    box-sizing: border-box;
	    left: 0;
	    top: 0;
	    width: 100%;
	    z-index: 10000 !important;
	}
	
	.vm--overlay {
		
	    box-sizing: border-box;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100vh;
	    background: rgba(0, 0, 0, 0.2);
	    opacity: 1;
	}

    .vm--top-right-slot {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .vm--modal {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }
	
    .preview-work-content {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0;
        margin-right: 0;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    

    .upload-preview-scroll {
        background: transparent;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: inherit;
        scroll-padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

	.work-item.first {
		margin-top : 50px;
	}

    .work-item {
        margin: 20px 0;
        background-color: white;
        border-radius: 5px;
    }
		
	.work-info {
		background: #fff;
	    color: #7C8484;
	    display: flex;
	    flex-direction: row;
	    position: relative;
	    border-radius: 5px;
	}
    
    .work-info .work-info-title {
        padding: 24px 30px 24px 37px;
        flex: 1;
    }

    .work-title {
        display: flex;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        letter-spacing: -0.25px;
        color: #2C3030;
    }

    .work-info-time {
        font-size: 14px;
        margin-left: 1px;
        font-weight: 400;
        line-height: 17px;
        align-items: center;
        color: #4E5454;
        margin-top: 8px;
    }

    .work-info-icons {
        display: flex;
        flex-direction: row;
        margin-right: 0px;
    }

    .work-info-icons {
        flex : 10;
    }

    .work-info-icons > div {
        display: flex;
        flex-direction: column;
        margin-right: center;
    }

    .work-info-icons > div {
        float: left;
        width: 33.333333333333333333333%;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        padding: 15px 0 10px;
    }

    .work-item .preview-contents {
        width: 100%;
        overflow-y: hidden;
    }

    #root {
        width: 100%;
        height: 100%;
    }

  